<header class="top-header clearfix">
    <div ui-preloader></div>

    <!-- Logo -->
    <div class="logo"
         ng-class="{ 'bg-dark': ['11','31'].indexOf(main.skin) >= 0,
                     'bg-white': main.skin === '21',
                     'bg-primary': ['12','22','32'].indexOf(main.skin) >= 0,
                     'bg-success': ['13','23','33'].indexOf(main.skin) >= 0,
                     'bg-info': ['14','24','34'].indexOf(main.skin) >= 0,
                     'bg-warning': ['15','25','35'].indexOf(main.skin) >= 0,
                     'bg-danger': ['16','26','36'].indexOf(main.skin) >= 0 }">
        <a href="#/">
            <span class="logo-icon zmdi zmdi-view-dashboard"></span>
            <span class="logo-text">{{main.brand}}</span>
        </a>
    </div>

    <!-- needs to be put after logo to make it work -->
    <div class="menu-button" toggle-off-canvas>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </div>

    <div class="top-nav">
        <ul class="nav-left list-unstyled">
            <li>
                <a href="#/" data-toggle-nav-collapsed-min
                   md-button aria-label="toggle-nav-collapsed-min"
                   class="toggle-min"><i class="zmdi zmdi-menu"></i></a>
            </li>
            <li class="dropdown hidden-xs" uib-dropdown is-open="status.isopenSettings">
                <a href="javascript:;" class="dropdown-toggle" uib-dropdown-toggle ng-disabled="disabled" md-button aria-label="settings"><i class="zmdi zmdi-settings"></i></a>
                <div class="uib-dropdown-menu dropdown-menu-scaleIn with-arrow panel panel-default admin-options" ui-not-close-on-click>
                    <div class="panel-heading"> <span data-translate="ADMIN_OPTIONS"></span> </div>
                    <ul class="list-group">
                        <li class="list-group-item">
                            <p>Layouts Style</p>
                            <md-radio-group class="ui-md-radio-group-inline" ng-model="main.layout">
                                <md-radio-button value="wide">Wide</md-radio-button>
                                <md-radio-button value="boxed">Boxed</md-radio-button>
                            </md-radio-group>
                        </li>
                        <li class="list-group-item">
                            <p>Menu Style</p>
                            <md-radio-group class="ui-md-radio-group-inline" ng-model="main.menu">
                                <md-radio-button value="vertical">Vertical</md-radio-button>
                                <md-radio-button value="horizontal">Horizontal</md-radio-button>
                            </md-radio-group>    
                        </li>
                        <li class="list-group-item">
                            <p>Additional</p>
                            <div class="divider"></div>
                            <md-checkbox ng-model="main.fixedHeader" aria-label="fixedHeader"> Fixed Top Header </md-checkbox>
                            <br>
                            <md-checkbox ng-model="main.fixedSidebar" aria-label="fixedSidebar"> Fixed Sidebar Menu </md-checkbox>
                        </li>
                        <li class="list-group-item">
                            <p>
                                <span>Page Transition: </span> 
                                <span class="space"></span>
                                <select ng-model="main.pageTransition"
                                        ng-options="ageTransitionOpt.name for ageTransitionOpt in pageTransitionOpts"></select>
                            </p>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="dropdown hidden-xs" uib-dropdown is-open="status.isopenPalette">
                <a href="javascript:;" class="dropdown-toggle" uib-dropdown-toggle ng-disabled="disabled" md-button aria-label="palette"><i class="zmdi zmdi-palette"></i></a>
                <div class="uib-dropdown-menu with-arrow panel panel-default skin-options dropdown-menu-scaleIn" ui-not-close-on-click>
                    <div class="panel-heading"><span data-translate="COLOR_OPTIONS"></span></div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-4">
                                <label class="skin-check">
                                    <input type="radio" name="skin" value="11" ng-model="main.skin">
                                    <span class="skin-item bg-body">
                                        <span class="overlay"><span class="fa fa-check"></span></span>
                                        <span class="bg-dark item-header"></span>
                                        <span class="bg-white item-header"></span>
                                        <span class="bg-dark"></span>
                                    </span>
                                </label>

                                <label class="skin-check">
                                    <input type="radio" name="skin" value="12" ng-model="main.skin">
                                    <span class="skin-item bg-body">
                                        <span class="overlay"><span class="fa fa-check"></span></span>
                                        <span class="bg-primary item-header"></span>
                                        <span class="bg-white item-header"></span>
                                        <span class="bg-dark"></span> 
                                    </span>
                                </label>
                                <label class="skin-check">
                                    <input type="radio" name="skin" value="13" ng-model="main.skin">
                                    <span class="skin-item bg-body">
                                        <span class="overlay"><span class="fa fa-check"></span></span>
                                        <span class="bg-success item-header"></span>
                                        <span class="bg-white item-header"></span>
                                        <span class="bg-dark"></span> 
                                    </span>
                                </label>
                                <label class="skin-check">
                                    <input type="radio" name="skin" value="14" ng-model="main.skin">
                                    <span class="skin-item bg-body">
                                        <span class="overlay"><span class="fa fa-check"></span></span>
                                        <span class="bg-info item-header"></span>
                                        <span class="bg-white item-header"></span>
                                        <span class="bg-dark"></span> 
                                    </span>
                                </label>
                                <label class="skin-check">
                                    <input type="radio" name="skin" value="15" ng-model="main.skin">
                                    <span class="skin-item bg-body">
                                        <span class="overlay"><span class="fa fa-check"></span></span>
                                        <span class="bg-warning item-header"></span>
                                        <span class="bg-white item-header"></span>
                                        <span class="bg-dark"></span> 
                                    </span>
                                </label>
                                <label class="skin-check">
                                    <input type="radio" name="skin" value="16" ng-model="main.skin">
                                    <span class="skin-item bg-body">
                                        <span class="overlay"><span class="fa fa-check"></span></span>
                                        <span class="bg-danger item-header"></span>
                                        <span class="bg-white item-header"></span>
                                        <span class="bg-dark"></span> 
                                    </span>
                                </label>
                            </div>
                            <div class="col-xs-4">
                                <label class="skin-check">
                                    <input type="radio" name="skin" value="21" ng-model="main.skin">
                                    <span class="skin-item bg-body">
                                        <span class="overlay"><span class="fa fa-check"></span></span>
                                        <span class="bg-white item-header"></span>
                                        <span class="bg-white item-header"></span>
                                        <span class="bg-dark"></span> 
                                    </span>
                                </label>
                                <label class="skin-check">
                                    <input type="radio" name="skin" value="22" ng-model="main.skin">
                                    <span class="skin-item bg-body">
                                        <span class="overlay"><span class="fa fa-check"></span></span>
                                        <span class="bg-primary item-header"></span>
                                        <span class="bg-primary item-header"></span>
                                        <span class="bg-dark"></span> 
                                    </span>
                                </label>
                                <label class="skin-check">
                                    <input type="radio" name="skin" value="23" ng-model="main.skin">
                                    <span class="skin-item bg-body">
                                        <span class="overlay"><span class="fa fa-check"></span></span>
                                        <span class="bg-success item-header"></span>
                                        <span class="bg-success item-header"></span>
                                        <span class="bg-dark"></span> 
                                    </span>
                                </label>
                                <label class="skin-check">
                                    <input type="radio" name="skin" value="24" ng-model="main.skin">
                                    <span class="skin-item bg-body">
                                        <span class="overlay"><span class="fa fa-check"></span></span>
                                        <span class="bg-info item-header"></span>
                                        <span class="bg-info item-header"></span>
                                        <span class="bg-dark"></span> 
                                    </span>
                                </label>
                                <label class="skin-check">
                                    <input type="radio" name="skin" value="25" ng-model="main.skin">
                                    <span class="skin-item bg-body">
                                        <span class="overlay"><span class="fa fa-check"></span></span>
                                        <span class="bg-warning item-header"></span>
                                        <span class="bg-warning item-header"></span>
                                        <span class="bg-dark"></span> 
                                    </span>
                                </label>
                                <label class="skin-check">
                                    <input type="radio" name="skin" value="26" ng-model="main.skin">
                                    <span class="skin-item bg-body">
                                        <span class="overlay"><span class="fa fa-check"></span></span>
                                        <span class="bg-danger item-header"></span>
                                        <span class="bg-danger item-header"></span>
                                        <span class="bg-dark"></span> 
                                    </span>
                                </label>                                 
                            </div>
                            <div class="col-xs-4">
                                <label class="skin-check">
                                    <input type="radio" name="skin" value="31" ng-model="main.skin">
                                    <span class="skin-item bg-body">
                                        <span class="overlay"><span class="fa fa-check"></span></span>
                                        <span class="bg-dark item-header"></span>
                                        <span class="bg-dark item-header"></span>
                                        <span class="bg-white"></span> 
                                    </span>
                                </label> 
                                <label class="skin-check">
                                    <input type="radio" name="skin" value="32" ng-model="main.skin">
                                    <span class="skin-item bg-body">
                                        <span class="overlay"><span class="fa fa-check"></span></span>
                                        <span class="bg-primary item-header"></span>
                                        <span class="bg-primary item-header"></span>
                                        <span class="bg-white"></span> 
                                    </span>
                                </label>
                                <label class="skin-check">
                                    <input type="radio" name="skin" value="33" ng-model="main.skin">
                                    <span class="skin-item bg-body">
                                        <span class="overlay"><span class="fa fa-check"></span></span>
                                        <span class="bg-success item-header"></span>
                                        <span class="bg-success item-header"></span>
                                        <span class="bg-white"></span> 
                                    </span>
                                </label>
                                <label class="skin-check">
                                    <input type="radio" name="skin" value="34" ng-model="main.skin">
                                    <span class="skin-item bg-body">
                                        <span class="overlay"><span class="fa fa-check"></span></span>
                                        <span class="bg-info item-header"></span>
                                        <span class="bg-info item-header"></span>
                                        <span class="bg-white"></span> 
                                    </span>
                                </label>
                                <label class="skin-check">
                                    <input type="radio" name="skin" value="35" ng-model="main.skin">
                                    <span class="skin-item bg-body">
                                        <span class="overlay"><span class="fa fa-check"></span></span>
                                        <span class="bg-warning item-header"></span>
                                        <span class="bg-warning item-header"></span>
                                        <span class="bg-white"></span> 
                                    </span>
                                </label>
                                <label class="skin-check">
                                    <input type="radio" name="skin" value="36" ng-model="main.skin">
                                    <span class="skin-item bg-body">
                                        <span class="overlay"><span class="fa fa-check"></span></span>
                                        <span class="bg-danger item-header"></span>
                                        <span class="bg-danger item-header"></span>
                                        <span class="bg-white"></span> 
                                    </span>
                                </label>                                 
                            </div>
                        </div>
                    </div>
                </div>

            </li>
            <li class="search-box visible-md visible-lg">
                <div class="input-group">
                    <span class="input-group-addon"><i class="zmdi zmdi-search"></i></span>
                    <input type="text" class="form-control" placeholder="{{ 'SEARCH' | translate }}">
                    <span class="input-bar"></span>
                </div>
            </li>
            <li class="dropdown" uib-dropdown is-open="status.isopenEmail">
                <a href="javascript:;" class="dropdown-toggle" uib-dropdown-toggle ng-disabled="disabled" md-button aria-label="email">
                    <i class="zmdi zmdi-email"></i>
                    <span class="badge badge-danger">3</span>
                </a>
                <div class="uib-dropdown-menu with-arrow panel panel-default dropdown-menu-scaleIn">
                    <div class="panel-heading"> You have 3 mails. </div>
                    <ul class="list-group">
                        <li class="list-group-item">
                            <a href="javascript:;" class="media">
                                <span class="media-left media-icon">
                                    <span class="btn-icon btn-icon-round btn-success"><i class="zmdi zmdi-email"></i></span>
                                </span>
                                <div class="media-body">
                                    <span class="block">Lisa sent you a mail</span>
                                    <span class="text-muted block">2min ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="list-group-item">
                            <a href="javascript:;" class="media">
                                <span class="media-left media-icon">
                                    <span class="btn-icon btn-icon-round btn-info"><i class="zmdi zmdi-email"></i></span>
                                </span>
                                <div class="media-body">
                                    <span class="block">Jane sent you a mail</span>
                                    <span class="text-muted">3 hours ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="list-group-item">
                            <a href="javascript:;" class="media">
                                <span class="media-left media-icon">
                                    <span class="btn-icon btn-icon-round btn-danger"><i class="zmdi zmdi-email"></i></span>
                                </span>
                                <div class="media-body">
                                    <span class="block">Lynda sent you a mail</span>
                                    <span class="text-muted">9 hours ago</span>
                                </div>
                            </a>
                        </li>                         
                    </ul>
                    <div class="panel-footer">
                        <a href="#/mail/inbox">Show all mails.</a>
                    </div>
                </div>
            </li>
        </ul> 

        <ul class="nav-right pull-right list-unstyled">

            <li class="dropdown text-normal nav-profile"    uib-dropdown is-open="status.isopenProfile">
                <a href="javascript:;" class="dropdown-toggle" uib-dropdown-toggle ng-disabled="disabled" md-button aria-label="profile">
                    <img src="images/g1.jpg" alt="" class="img-circle img30_30">
                    <span class="hidden-xs">
                        <span data-translate="LISA"></span>
                    </span>
                </a>
                <ul class="uib-dropdown-menu with-arrow pull-right dropdown-menu-scaleIn">
                    <li>
                        <a href="#/">
                            <i class="zmdi zmdi-home"></i>
                            <span data-translate="DASHBOARD"></span>
                        </a>
                    </li>
                    <li>
                        <a href="#/page/profile">
                            <i class="zmdi zmdi-account"></i>
                            <span data-translate="MY_PROFILE"></span>
                        </a>
                    </li>
                    <li>
                        <a href="#/page/signin">
                            <i class="zmdi zmdi-forward"></i>
                            <span data-translate="LOG_OUT"></span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="dropdown langs text-normal" data-ng-controller="LangCtrl" uib-dropdown is-open="status.isopenLang">
                <a href="javascript:;" class="dropdown-toggle active-flag" uib-dropdown-toggle ng-disabled="disabled" md-button aria-label="lang">
                    <div class="flag {{ getFlag() }}"></div>
                </a>
                <ul class="uib-dropdown-menu with-arrow    pull-right list-langs dropdown-menu-scaleIn" role="menu">
                    <li data-ng-show="lang !== 'English' ">
                        <a href="javascript:;" data-ng-click="setLang('English')"><div class="flag flags-american"></div> English</a></li>
                    <li data-ng-show="lang !== 'Español' ">
                        <a href="javascript:;" data-ng-click="setLang('Español')"><div class="flag flags-spain"></div> Español</a></li>
                    <li data-ng-show="lang !== 'Portugal' ">
                        <a href="javascript:;" data-ng-click="setLang('Portugal')"><div class="flag flags-portugal"></div> Portugal</a></li>
                    <li data-ng-show="lang !== '中文' ">
                        <a href="javascript:;" data-ng-click="setLang('中文')"><div class="flag flags-china"></div> 中文</a></li>
                    <li data-ng-show="lang !== '日本語' ">
                        <a href="javascript:;" data-ng-click="setLang('日本語')"><div class="flag flags-japan"></div> 日本語</a></li>
                    <li data-ng-show="lang !== 'Русский язык' ">
                        <a href="javascript:;" data-ng-click="setLang('Русский язык')"><div class="flag flags-russia"></div> Русский язык</a></li>
                </ul>
            </li>
        </ul>
    </div>
</header>
